{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Hystory</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.purchase_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
